venv/
**/__pycache__/
.pytest_cache/
*.pyc
.DS_Store
firestore_key.json
start_project.sh
start_tmux.sh
firebase_console_key.json
node_modules/
package-lock.json
yarn-lock.json
.env
.firebaserc
firebase.json
frontend/src/firebaseConfig.json
firebase_config.json
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
backend/firebase_console_key.json
backend/firestore_key.json
.coverage
htmlcov/
*.log
pytest_cache/
cache/
.env
*.env
.vscode/
.idea/
.DS_Store
*.swp
frontend/node_modules/
frontend/.env.local
frontend/.env.development
frontend/build/
backend/__pycache__/
# Kubernetes
kubeconfig
*.kubeconfig
backend/pip.conf
# Docker
.docker/
keys.json